@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:black;
    --color-secundario:#e8d4f3;
    --color-terciario:#5430c6;
    --color-cuaternario:#272727;


    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;

}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    text-align: center;
}

.header{
    padding-top: 2% 0% 0% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    gap: 80px;
}

.header-menu-link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}


.presentacion-BMS{
    padding: 6% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    gap:82px;
}

.destacar-titulo{
    color: var(--color-terciario);
}

.presentacion-BMS-contenido{
    width: 50%;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    flex: 1;     
    order: 1;     
    text-align: justify; 
}

.presentacion-BMS-contenido-titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
    text-align: justify; 
}

.presentacion-BMS-contenido-parrafo{
    flex: 1;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    text-align: justify; 
}

.presentacion-BMS-botones{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.presentacion-BMS-botones-link{
    width: 50%; 
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    text-decoration: none;
    color : var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion-BMS-botones-link:hover{
    background-color: var(--color-cuaternario);
    font-size: 2rem;
}

.presentacion-BMS-img {
    width: 50%;
}

.presentacion-BMS-botones-subtitulo {
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    font-weight: 400;
}

.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
}

.presentacion-BMS-contenido-parrafo-b{
    flex: 1;
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
    text-align: justify; 
}

.presentacion-BMS-contenido-subtitulo{
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    text-align: justify; 
}

@media (max-width:1100px){

    .header {
        padding: 10%;
    }

    .header-menu{
        justify-content: center;
    }

    .presentacion-BMS{
        flex-direction: column;
    }

    .presentacion-BMS-contenido{
        width: auto;
    }
}